@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 2rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

.img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 0;
}

.img img {
  width: auto;
  height: 100%;
}

.eight {
  margin-top: 3rem;
}

.position {
  font-size: xx-large;
  color: rgb(25, 9, 245);
}

a {
  text-decoration: none;
}

.photo-block {
  margin-top: 5rem;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
}
